* {
  padding: 0px;
  margin: 0px;
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.Header {
  text-align: center;
  font-size: 4vh;
  background-color: rgb(255, 255, 255);
  color: #eb1b24;
}

.nav-bar {
  text-align: center;
  color: black;
  font-size: 3vh;
  border-bottom: 1px solid;
}

.Link {
  margin: 5px;
  color: black;
  text-decoration: underline overline;
}
.Link:hover {
  background-color: #ffa4a9;
}

.Link:active {
  background-color: #fb666d;
}
.articles-container {
  display: grid;
  justify-content: center;
}

.article-card {
  text-align: left;
  margin: auto;
  width: 90vw;
  border: 2px solid black;
  margin: 4px;
}
.article-card:hover {
  border-color: #eb1b24;
}

.article-timestamp {
  text-align: right;
  color: grey;
}

.article-details {
  width: 100%;
  display: grid;
  grid-template-columns: 65vw 30vw;
  grid-template-rows: "auto auto auto";
  grid-template-areas:
    "body stats"
    "body ."
    "comments comments";
  column-gap: 5vw;
}
.stats {
  grid-area: stats;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "article-stats"
    "article-creation-info";
}

.article-creation-info {
  grid-area: article-creation-info;
  color: rgb(116, 116, 116);
  text-align: left;
  margin-top: 0;
  display: inline-block;
  height: fit-content;
  border: grey 1px solid;
}
.article-stats {
  display: inline-block;
  align-self: flex-end;
  grid-area: article-stats;
  color: rgb(116, 116, 116);
  text-align: left;
  bottom: 0;
  border: grey 1px solid;
  border-bottom: none;
  height: fit-content;
  display: inline-block;
  margin-left: 10vw;
}

.article-body {
  font-size: 1.3rem;
  margin-top: 2rem;
  grid-area: body;
  text-align: left;
  margin-left: 5vw;
  margin-bottom: 1rem;
  padding-right: 5px;
  border-right: rgb(116, 116, 116) 1px solid;
}
.article-comments {
  margin-left: 20px;
  margin-right: 20px;
  border-top: black 1px solid;
  grid-area: comments;
  text-align: left;
  background-color: rgb(255, 240, 240);
}

.article-comment-card {
  margin: 0.1rem;
  border: black 2px solid;
  display: grid;
  grid-template-columns: 70vw 30vw;
}

.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  gap: 5px;
  padding: 5px;
}
.user-card {
  border: black 2px solid; 
  display: grid;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.user-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  max-width: 200px;
}
.login-button {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

