* {
  padding: 0px;
  margin: 0px;
  
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 98vw;
  min-height: 100vh;
  background-image: url("./images/NC\ Logo.png");
  
}
.Header {
  text-align: center;
  font-size: 4vh;
  background-color: rgb(255, 255, 255);
  color: #eb1b24;
}

.nav-bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  font-size: 3vh;
  border-bottom: 1px solid;
  max-width: 80vw;
}

.Link {
  margin: 5px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: underline overline;
  
}
.Link:hover {
  color: #00000080;
}

.Link:active {
  color: #00000030;
  
}
.articles-container {
  display: grid;
  
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  list-style: none;
  gap: 5px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.articles-navigation-bar {
  display:inline-block;
  padding-top: 10px;
  font-weight: bold;
  font-size: 1.3rem; 
  padding-bottom: 5px;
}
.articles-filter-button {
  font-weight: bold;
  font-size: 1.1rem;
}

.articles-navigation-filters {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  font-size: 1.1rem;
}

.articles-navigation-filters-button{
  font-size: 1.1rem;
  margin-left: 5px;
}

.article-card {
  border-color: rgb(0, 0, 0);
  border-left-style: solid;
  border-left-width: 5px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: rgba(234, 234, 234, 0.95);
  display: grid;
  border-radius: 10px 4px 4px 10px;
  text-align: left;
  padding: 5px;
}
.article-card:hover {
  border-color: rgba(255, 0, 0, 0.653);
  background-color: rgba(234, 234, 234, 0.98);
  border-left-width: 8px;
  border-bottom-width: 3px;
  border-radius: 15px 4px 4px 15px;
}



.article-timestamp {
  text-align: right;
  color: grey;
}

.single-article {
  background-color: #ffffffc5;
  text-align: left;
}
.article-creation-info {
  text-transform: capitalize;
  font-size: 0.9rem;
}
.article-author{
  font-weight: bold;
}

.article-details {
margin-left: 3rem;
}

.article-time-since{
  font-size: 0.8rem;
}

.article-body {
  background-color: #e6e6e669;
  font-size: 1.3rem;
 
  border-top: black 1px solid;
  border-bottom: black 1px solid;
  
  grid-area: body;
  text-align: left;
  margin-right: 5rem;
  margin-left: 3rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
 padding: 5px;
}

.article-votes { 
  margin-left: 3rem;
  text-align: left;
margin-bottom: 3px;  
}

.article-comments {
  margin-left: 3rem;
  margin-right: 3rem;
  
  grid-area: comments;
  text-align: left;
}

.article-comment-input {
  text-align: left;
  width: 80%;
  border-style: none;
  border-bottom:black 2px solid;
  border-top:black 0.5px solid;
  border-left:black 0.5px solid;
  border-right:black 0.5px solid;
  background-color: rgba(128, 128, 128, 0.068);
 
}
.article-comment-post {
  margin-bottom: 2px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.article-comment-card {
  background-color: #ffffffd0;;
  margin: 0.1rem;
  border: black 2px solid;
  display: grid;
  grid-template-columns: 70vw 30vw;
}

.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  gap: 5px;
  padding: 5px;
}
.user-card {
  background-color: #ffffff;
  border: black 2px solid; 
  display: grid;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.user-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-height: 200px;
  max-width: 200px;
}
.login-button {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

